<div class='container'>
    <h1 class="text-center">Buat Tutorial</h1><br>

    <%= render 'form', tutorial: @tutorial %>

    <%= link_to 'Back', root_path, class: 'btn btn-secondary btn-xs btn-back' %>
</div>