// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
    background-color: #778899;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #778899;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #778899;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #778899; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #778899;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #778899;
    background-color: #d3d3d3;
  }
  .navbar .navbar-toggle {
    border-color: #d3d3d3;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #d3d3d3;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #778899;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #778899;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #778899;
      background-color: #d3d3d3;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #778899;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #778899;
      background-color: #d3d3d3;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #778899;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #778899;
      background-color: #d3d3d3;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #778899;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #778899;
      background-color: #d3d3d3;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #778899;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #778899;
    background-color: #d3d3d3;
  }

//custom

  .navbar img#logo {
    height: 50px;
    width: auto;
  }

body {
    background-color: #E6E6FA !important;
}

.jumbotron {
    background-color: white !important;
}


#tutorial {
  border-radius: 25px !important;
  margin-top: 20px ;
  left: 45px;
  border-bottom: 1px solid dodgerblue !important;
  
}
    
    #tutorial .card-body {
      padding: 10px;
    }

    #tutorial .tutorial-btn:hover{
      border-radius: 25px !important;
      transition: 0.3s;     
    }
    
    #tutorial .card-body {
      margin-top: 20px;
    }

    #tutorial .tutorial-btn {
      position: absolute;
      right: 0;
      margin: 25px 15px;
      background-color: rgb(34, 158, 180) !important;
      color: white;
    }

.btn-xs {
  margin-top: 2px;
}

.btn-back {
  clear: both;
  float: right;
}

// button buat tutorial, form search
.btn-buat {
  margin-right: 600px;
}
.form-inline {
  margin-right: 150px;
}

//dropdown user
.dropdown {
  font-family: Ubuntu;
}


//Font
h1 {
  font-family: Ubuntu !important;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 { font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p { font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 40px;
}
blockquote {
  font-family: Ubuntu !important;
  font-size: 17.5px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 25px;
}
pre { font-family: Ubuntu;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
// end font