<section class="app-jumbotron jumbotron">
    <div class="container">
        <h1 class="display-4">Selamat datang di Kedailabs!</h1>
        <p class="lead text-muted">Kedailabs merupakan salah satu fitur KedaiCoding yang menjadi
        tempat bagi para programmer dalam membagi pengetahuan melalui
        sebuah tutorial dalam proses pembuatan aplikasi, atau 
        menambahkan fitur baru kedalam aplikasi yang sudah ada.
        </p>
    </div>
</section>